/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.success-snackbar {
    --mdc-snackbar-container-color: green;
    --mat-mdc-snack-bar-button-color: white;
    --mdc-snackbar-supporting-text-color: white;
    --mat-snack-bar-button-color: white;
}

.error-snackbar {
    --mdc-snackbar-container-color: red;
    --mat-mdc-snack-bar-button-color: white;
    --mdc-snackbar-supporting-text-color: white;
    --mat-snack-bar-button-color: white;
}

.warning-snackbar {
    --mdc-snackbar-container-color: yellow;
    --mat-mdc-snack-bar-button-color: white;
    --mdc-snackbar-supporting-text-color: white;
    --mat-snack-bar-button-color: white;
}